treechildren::-moz-tree-cell(keep) {
  background: url("chrome://messenger/skin/icons/check.gif") no-repeat;
  background-position: center center;
}

treechildren::-moz-tree-cell(delete) {
  background: url("chrome://messenger/skin/icons/notchecked.gif") no-repeat;
  background-position: center center;
}

treecol[comparisonCriterion] {
  font-weight: bold;
}