treechildren::-moz-tree-cell(keep) {
  background: url("chrome://removedupes/content/check.svg") no-repeat;
  background-position: center center;
}

treechildren::-moz-tree-cell(delete) {
  background-position: center center;
}

treecol[comparisonCriterion] {
  font-weight: bold;
}
