#project-navigation a {
  border-left: 1px solid black;
  padding-left: 6px;
  padding-right: 5px;
}

#project-navigation a.first-item {
  border-left: none;
}

#project-navigation th {
  margin-right: 3px;
}

/* h1#content, */
.project-name {
 /* background: inherit;
  color: #900; */
  padding: 0;
}
.project-name:after {
  content: url(http://www.mozdev.org/sharedimages/boxes.gif);
  padding-left: 1.1em;
}

.project-navigations {
  border: none; /* work around weird ns4 bug */
  font-size: smaller;
  margin-bottom: 2em;
}

#project-navigation th {
  background-color: inherit;
  background-image: url(http://www.mozdev.org/sharedimages/nav-icon.png);
  background-repeat: no-repeat;
  color: #900;
  padding-left: 18px;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: top;
}


#infoTabs {
  float: right;
  margin-right: -1em;
}

.infoTab {
  margin: 10px;
  width: 154px;
}

.infoTab .infoHeader {
  background: #f90 no-repeat url(http://www.mozdev.org/sharedimages/infotab_top.png);
  color: #fff;
  text-align: center;
}

.infoTab .infoItems div {
  background: #fff no-repeat url(http://www.mozdev.org/sharedimages/bullet.gif);
  color: inherit;
  padding-left: 16px;
  padding-bottom: 5px;
}

a.download-xpi{
  text-decoration: none;
}

a.download-xpi {
  text-align:center;
  display: block;
  background: rgb(255,192,192);
  border: 2px solid red;
  font-weight: bold;
  padding: 5px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2em;
}

a.download-xpi:hover,a.download-xpi:active{
  border: 3px solid red;
  padding: 4px;
  background: rgb(255,176,176);
}


p#mozdev-feedback {
  display: none;
}

#main-content h2 a:active {
  text-decoration: none;
}
  
#main-content h2 a:hover {
  text-decoration: none;
}

ul#version-history > li   {
  font-size: normal;
  list-style-type: none;
  padding-bottom: 5pt;
}

ul#version-history li {
  list-style-type: square;
  list-style-position: outside;
}


ul#version-history ul {
/*  font-size: smaller;*/
/*  list-style-image: url("http://www.mozdev.org/sharedimages/bullet.gif");*/
  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#main-content ol li {
  padding-bottom: 10pt;
}


