@import url("http://www.mozdev.org/project.css");

a.download-xpi{
  text-decoration: none;
}

a.download-xpi {
  text-align:center;
  display: block;
  background: rgb(255,192,192);
  border: 2px solid red;
  font-weight: bold;
  padding: 5px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2em;
}

a.download-xpi:hover,a.download-xpi:active{
  border: 3px solid red;
  padding: 4px;
  background: rgb(255,176,176);
}


p#mozdev-feedback {
  display: none;
}

h2 a:active {
  text-decoration: none;
}
  
h2 a:hover {
  text-decoration: none;
}

ul#version-history > li   {
  font-size: normal;
  list-style-type: none;
  padding-bottom: 5pt;
}

#main-content ul li{
  list-style-type: square;
  list-style-position: outside;
}


#main-content-no-nav ul,
#main-content ul {
/*  font-size: smaller;*/
/*  list-style-image: url("http://www.mozdev.org/sharedimages/bullet.gif");*/
/*  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;*/
}

#main-content-no-nav li,
#main-content li {
  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  text-indent: 15px;
  /*padding-bottom: 15px;*/
}

#main-content ol li {
  padding-bottom: 5px;
}
