@import url("http://www.mozdev.org/project.css");

a.download-xpi {
  text-align:center;
  display: block;
  background: rgb(255,192,192);
  border: 2px solid red;
  font-weight: bold;
  padding: 5px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

p#mozdev-feedback {
  display: none;
}